<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"  href="/index.css">
    <title>Register</title>

   
</head>
<body>
   
    <main >

        <section>
            <form action="/signup" method="post">
                <fieldset>
                    <div class="textbox1">
                        <h1>Sign Up</h1>

                        <p>It's quick and easy.</p>
                    </div>   

                    <div class="namebox">

                        <input  type="text" placeholder="First name" id="fname" name="firstName" required =""> <br> <br>

                        <input  type="text" placeholder="Last Name"  id="lname" name="lastName"  required="">
                        
                    </div>
                        
                    <div style="margin-top: 20px;" class="emailpasswordbox">

                        <input  type="email" placeholder="Enter a valid email" id="email"   name="email"> <br> <br>

                        <input type="password" placeholder="New password" id="password" name="password" required="">

                    </div>

                    <div class="residentbox">

                        <span style="width: 100%;">
            
                            <label for="">Country</label>

                            <input type="text" id="country" name="country" required="" >

                        </span>

                        <span style="width: 100%;">
                        
                            <label for="">State</label>

                            <input type="text" id="state" name="state" required="">

                        </span>

                        <span style="width: 100%;">
                        
                            <label for="">City</label>

                            <input type="text" id="city" name="city" required="">             
                        </span>

                    </div>

                    <div class="dobgenderbox">

                        <span style="width: 100%;">
                        
                            <label for="">Date of birth</label>

                            <input type="date" id="dob" name="dateOfBirth" required="">
                        </span>

                        <span style="width: 100%;">
                        
                            <label for="">Gender</label> <br>

                            <select name="gender" id="gender">

                                <option value="">select</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>

                            </select>
                        
                        </span>

                    </div>

                    <div class="textbox2"> 

                        <p class="footp2">By clicking Sign Up, you agree to our Terms,
                            <a href=" Privacy Policy and Cookies Policy"> Privacy Policy and Cookies Policy.</a>
                            You may receive SMS notifications from us and can opt out at any time.
                        </p>

                    </div>
                        
                    <div style="text-align: center;margin-top: 20px;" class="btnbox"> 

                        <button class="signup" type="submit">Sign Up</button> 

                    </div>

                </fieldset>
            </form>

        </section>

        
    </main>

</body>
</html>


